* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(1, 17, 20);
  color: aliceblue;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('menu2.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url('close3.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #215668;
  mix-blend-mode: overlay;
  box-shadow: inset 60px 60px 60px black, inset -60px -60px 60px black;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.social li {
  list-style: none;
}

.social li a{
  display: inline-block;
  margin-right: 20px;
  color: aliceblue;
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(1.1) translateY(-10px);
  color: blue;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(253, 251, 251);
}

.menu ul li a:hover {
  color: blue;
}

@media(max-width: 798px) {
  .showcase, .showcase header {
    padding: 20px;
  }
}

.landing {
  z-index: 1;
  font-family:"Arial", Serif;
  overflow-x:hidden;
  font-size: 1.5em;
  padding-top: 50px;
  color: rgb(175, 175, 180);
  text-align: center;
  padding: 80px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landing img {
    width: auto;
    height: 200px;
    border-radius: 100px;
    border: 3px solid rgb(11, 26, 230);
}

.landing p{
  font-family:"Arial", Serif;
  overflow-x:hidden;
  color: rgb(175, 175, 180);
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}

.boxed {
  border: 1px solid blue ;
  font-size: 2vw;
  height: 40px;
  line-height: 40px;
  margin: 1px;
}
