* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(1, 17, 20);
  color: aliceblue;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('menu2.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url('close3.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

.text {
  position: relative;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03577e;
  mix-blend-mode: overlay;
}

.text h2 {
  font-size: 2em;
  line-height: 1em;
}

.text h3 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
}

.text p {
  margin: 20px 0;
  max-width: 95%;
  font-size: 1.2em;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: cornsilk;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  letter-spacing: 2px;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.social li {
  list-style: none;
}

.social li a{
  display: inline-block;
  margin-right: 20px;
  color: aliceblue;
  transition: 0.5s;
}

.social li a{
  display: inline-block;
  margin-right: 20px;
  color: aliceblue;
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(1.1) translateY(-10px);
  color: green;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(253, 251, 251);
}

.menu ul li a:hover {
  color: blue;
}

@media(max-width: 798px) {
  .showcase, .showcase header {
    padding: 20px;
  }
  .text h2 {
    font-size: em;
  }

  .text h3 {
    font-size: 1.5em;
  }
}

.container-4 > div {
}

.container-4 {
  display: inline-flex;
  padding-top: 20px;
  
}

.box-7 {
  z-index: 1;
  font-size: 30px;
  display: flex;
  justify-content: left;
  color: orange;
  margin-right: 10vw;
}

.box-8{
  z-index: 1;
  font-size: 30px;
  display: flex;
  justify-content: left;
  color: blue;
  margin-right: 10vw;
}

.box-9{
  z-index: 1;
  font-size: 30px;
  display: flex;
  justify-content: left;
  color: yellow;
  margin-right: 10vw;
}

.box-10{
  z-index: 1;
  font-size: 30px;
  display: flex;
  justify-content: left;
  color: rgb(245, 55, 55);
}

.container-4 .box-7, .box-8, .box-9, .box-10, .box-11 i {
  text-shadow: 2px 2px 8px rgb(5, 5, 5);
}