* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(1, 17, 20);
  color: aliceblue;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url('menu2.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url('close3.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #215668;
  mix-blend-mode: overlay;
  box-shadow: inset 60px 60px 60px black, inset -60px -60px 60px black;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.social li {
  list-style: none;
}

.social li a{
  display: inline-block;
  margin-right: 20px;
  color: aliceblue;
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(1.1) translateY(-10px);
  color: blue;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: rgb(253, 251, 251);
}

.menu ul li a:hover {
  color: blue;
}

@media(max-width: 798px) {
  .showcase, .showcase header {
    padding: 20px;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  padding: 40px 0px 10px;
}

.mne, .xslive, .crypto {
  z-index: 1;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgb(246, 245, 248);
  margin: 50px 0px;
}

.crypto img, .xslive img, .mne img {
  width: 25vw;
  height: auto;
  object-fit: cover;
}

.centered {
  padding-bottom: 10px;
}

.centered a{
  font-size: 25px;
}

.centered, .centered a {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.centered a:hover {
  color: blue
}

.centered i:hover {
  color: blue
}

.centered button:hover {
  z-index: 1;
  background: blue;
  color: white;
}

button {
  font-size: 15px;
  padding: 5px;
}

@media(max-width: 1000px) {
  .crypto img, .xslive img, .mne img {
    width: 350px;
  }
}

@media(max-width: 550px) {
  .mne {
    margin-top: 50px;
  }
  .xslive, .crypto {
    margin-top: 0px;
  }
  .xslive, .crypto {
    margin-bottom: 50px;
  }
}

@media(max-width: 800px) {
  .crypto img, .xslive img, .mne img {
    width: 250px;
  }
}